https://xx.com:443 {

    root * /var/www
    file_server
    tls  xx.com.cert  xx.com.key
    
    reverse_proxy /path 127.0.0.1:2001 {
        transport http {
          versions h2c
        }
    }
}
